@charset "utf-8";
#Todo {
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 832px;
	background-color: #696366;
}
#Texto {
	width: auto;
}
#Imagenes {
	width: 832px;
	height: auto;
}
#Todo #Contenido img {
	width: auto;
	height: auto;
}
.Titulo {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: large;
	font-weight: bold;
}
.Subtitulo {
	text-align: left;
	font-size: large;
	font-style: italic;
	width: auto;
	height: auto;
	float: right;
}
.Video {
	text-align: center;
}
.Texto {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: medium;
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	text-align: left;
	width: auto;
}
#Biografia {
	width: 600px;
}
#Sho {
	width: 232px;
	margin-left: 0px;
	margin-right: 0px;
	float: right;
}
#NuevasImagenes {
	float: left;
}
#ESPZ3 {
	width: auto;
}
p .Subtitulo img {
}
.Subtitulos {
	text-align: left;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-weight: bolder;
	font-size: large;
}
.Pros {
	width: 416px;
}
.Contras {
	float: right;
	width: 416px;



}
table {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-weight: normal;
	font-size: medium;
}
.Subtitulos .Texto #Vs {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.Foto.biografia {
	float: right;
}
